<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Hello world</title>
</head>
<body>
    Ahoj, dnes je {{ date }}.
    <hr>
    

    {% if error %}
        <p style="color: red;"><strong>{{ error }}</strong></p>
    {% endif %}


    {% if secret_info %}
        <p style="color: green; border: 2px solid green; padding: 10px;">
            <strong>Tajná sekce:</strong> {{ secret_info }}
        </p>
    {% endif %}

    {% if name %}
        <strong>{{ name }} {{ surname }}, rád tě vidím!</strong><hr>
    {% endif %}

    Řekni mi své jméno a zadej heslo pro odhalení tajemství!
    <form method="POST">
        <input type="text" name="name" placeholder="Zadej své jméno">
        <input type="text" name="surname" placeholder="Zadej své příjmení">
        
      
        <input type="password" name="password" placeholder="Zadej tajné heslo">
        
        <button type="submit">Odeslat</button>
    </form>

</body>
</html>